<div class = "text_style" style = "border: 0px solid black;padding-right:30px;">
  <h3>Coupon</h3>
    <strong>Name: </strong>
      <%= @coupon.name %><br />
    <strong>Price: </strong>
      <%= @coupon.discount_value %>
</div>