<div class = " ml-2 mt-2" style = "border: 0;padding-left:50px;">

<h1>New Category</h1>
<%= form_with(model: @category, url: categories_path) do |form| %>
  <%= form.text_field :name, placeholder: 'Category Name' %>
  <%= form.submit 'Create Category', class: 'btn btn-info' %>
<% end %>

</div>